@{
    ViewData["Title"] = "ProductImage";
    Layout = "~/Views/Shared/_SpecialLayout.cshtml";
}
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form method="post" id="form_submit" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="myHeadPhoto" class="form-control" placeholder="选择图片" accept="image/gif,image/jpeg,image/jpg,image/png" />
                            <p class="help-block">选择您的菜品图片。</p>
                        </div>
                        <div class="form-group">
                            <img id="img_headPhoto" style="width: 280px; height: 280px;" required="required" class="img-thumbnail" />
                        </div>
                        <div class="divpadding"></div>
                        <div class="fixedSave">
                            <div class="text-left col-xs-6">
                                <button id="Save" type="button" class="btn btn-info btn-icon btn-icon-standalone">
                                    <i class="fa-save"></i>
                                    <span>提 交</span>
                                </button>
                            </div>
                            <div class="text-right col-xs-6 visible-xs">
                                <button id="close" type="button" class="btn btn-white" onclick="closeLayer()">关 闭</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/js/MyAjaxForm.js"></script>
<script type="text/javascript">
    $(function () {
        $("input[name='myHeadPhoto']").on("change", function () {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#img_headPhoto").attr("src", e.target.result);
                }
                reader.readAsDataURL(file);
            }
        });
    });
    $("#Save").click(function () {
        $("#form_submit").ajaxSubmit({
            url: "/BaseManage/ProductImages",
            type: "post",
            success: function (data) {
                data = JSON.parse(data.replace("<pre style=\"word-wrap: break-word; white-space: pre-wrap;\">", "").replace("</pre>", ""));
                if (data.state == 1) {
                    parent.$("#ProductImage").val(data.path);
                    closeLayer();
                } else { 
                    layer.msg(result.msg, { time: 1000 });
                }
            },
            error: function () {
                openMsg("内部错误，请稍后...", false, 3);
            }
        });
    });
</script>
}
